.btn {
  padding: 1rem 1.5rem;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: transparent;
  border: 1px solid var(--first-color);

}

.btn:hover {
  background-color: var(--first-color);
  color: var(--second-color);
}

.btn-hero {
  margin-bottom: 6rem;
}


.btn-pricing {
  margin-bottom: 1rem;
}

.about-btn {
  margin-left: 2rem;
  margin-top: 1rem;
}

.service-btn {
  display: block;
  margin: 2.5rem auto;
}