/* ******** HeroImage ******** */
.hero-image {
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/paint2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  z-index: -1;
  /* animation: imageTransition 22s infinite; */
}

.hero-image-opacity {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.hero-image-opacity::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 17, 38, 0.5);

}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero-text {
  padding: 0 1rem;
  text-transform: uppercase;
  color: var(--second-white-color);
  font-size: 1.6rem;
}

.hero-gonzalez {
  margin-top: 12rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: var(--first-color);
}

.hero-p {
  padding: 0 1rem;
  color: var(--second-white-color);
}

@keyframes imageTransition {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  25%,
  75% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}