/* ******** Menu ******** */
.menu-btn {
  outline: thin solid var(--first-color);
  border: 0;
  cursor: pointer;
  background-color: var(--second-color);
}

.menu-btn svg {
  fill: var(--first-color);
}

.menu {
  padding-top: 5rem;
  position: fixed;
  left: 0;
  top: var(--header-height);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--second-color);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: var(--white-color);
}

.menu a:hover {
  color: var(--first-color);
  /*   background-color: var(--first-color); */
}

.logo-img {
  margin-top: -1.4rem;
  width: 5rem;
  position: absolute;
}