/* Screen width >= 1024px */
@media screen and (min-width: 1024px) {

  /* Menu */
  .menu-btn {
    display: none;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;
  }

  .menu a:last-child {
    padding-right: 0;
  }

  .menu a:hover {
    background-color: transparent;
  }

  /* Elements alignment */
  .full-lg-screen {
    width: 100%;
    min-height: 100vh;
  }

  .text-lg-center {
    text-align: center;
  }

  .text-lg-left {
    text-align: left;
  }

  .text-lg-right {
    text-align: right;
  }

  /* Services */
  .services>.container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    justify-content: space-between;
    align-content: center;
  }

  .services .section-title {
    grid-column: span 2;
  }

  /* About */
  .about {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    align-content: center;
  }

  .header {
    position: sticky;
    padding: 0.5rem;
    height: calc(var(--header-height) + 0.5rem);
  }

  .services>.container {
    grid-template-columns: repeat(3, 30%);
  }

  .services .section-title {
    grid-column: span 3;
  }
}

/* Screen width >= 768px */
@media (min-width: 768px) {
  .services>.container {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    justify-content: space-between;
    align-content: center;
  }

  .services .section-title {
    grid-column: span 1;
  }
}

@media (min-width: 336px) {
  .hero-container {
    padding: 0 1rem;
  }

}

@media (min-width: 400px) {
  .hero-container {
    padding-top: 2rem;
  }

  .form {
    width: 90%;
  }
}

@media (min-width: 503px) {
  .hero-container {
    padding: 2rem 2rem;
  }

  .hero-text {
    font-size: 1.8rem;
  }
}

@media (min-width: 600px) {
  .form {
    width: 80%;
  }
}